{% extends "base.html" %}

{% block content %}
   <h1>List of Melons</h1>
   <div id="melon-list">
      {% for melon in melons %}
         <div class="card text-center">
            <img class="melon-image" src="{{ melon.image_url }}" alt="{{ melon.common_name }}">
            <h5>
               <a href="{{ url_for('melon_details', melon_id=melon.melon_id) }}">
                  {{ melon.common_name }}
               </a>
            </h5>
            <h5>{{ melon.price }}</h5>
         </div>
      {% endfor %}
   </div>
{% endblock %}
